# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Logs
*.log

# Crash
hs_err_pid*
replay_pid*

# Android
android/.gradle
android/.kotlin
android/app/.cxx

# iOS
ios/Pods/

# Windows
windows/flutter/ephemeral
windows/**/*.dll
windows/runner/Release/
*.dll
# Misc
*.lock